body{
    padding-top: 10px;
}

h2{
    color: #4e66ff;
}

hr{
    margin: 35px 0px;
}

.align-right{
    text-align: right;
}

/* Next button in table */
.next {
    background-color: #f2f2f2;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 50%;
    padding: 3px 12px;
}

.next:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    color: black;
}

.version{
    width: 500px;
}

.refresh{
    max-width: 40px !important;
    cursor: pointer;
}

/* Error styles */
form .error {
    color: red;
}